@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");

@import url("/fonts.css");

:root {
    --bs-font-sans-serif: "BBC Reith Sans", sans-serif;
    --bs-nav-pills-border-radius: 0;
}

h1 {
    font-family: "BBC Reith Serif", serif;
}