@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");

@import url("/fonts.css");

:root {
    --bs-font-sans-serif: "BBC Reith Sans", sans-serif;
}

h1 {
    font-family: "BBC Reith Serif", serif;
}

.img-cover {
    object-fit: cover;
}

.img-cover-n {
    object-position: top;
}

.img-cover-s {
    object-position: bottom;
}

.img-cover-w {
    object-position: left;
}

.img-cover-e {
    object-position: right;
}

.hero {
    background: linear-gradient(135deg, #dd9652 0%, #c82c68 35%, #9a3aa6 72%, #5965cd 100%);
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.video {
    width: 100%;
    aspect-ratio: 25 / 18;
}

.leagueTable .card .index {
    width: 3rem;
    text-align: end;
    background-color: var(--bs-card-cap-bg);
}

.leagueTable .card:nth-child(1) {
    border: 1px solid rgba(255, 215, 0, 1);
}

.leagueTable .card:nth-child(1) .index {
    background-color: rgba(255, 215, 0, 0.4);
}

.leagueTable .card:nth-child(2) {
    border: 1px solid rgba(192, 192, 192, 1);
}

.leagueTable .card:nth-child(2) .index {
    background-color: rgba(192, 192, 192, 0.4);
}

.leagueTable .card:nth-child(3) {
    border: 1px solid rgba(205, 127, 50, 1);
}

.leagueTable .card:nth-child(3) .index {
    background-color: rgba(205, 127, 50, 0.4);
}

*:not(.form-check-input) {
    border-radius: 0px !important;
}

@media (prefers-contrast: more) {
    .hero {
        background: black;
    }
}