@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");

@import url("/fonts.css");

:root {
    --bs-font-sans-serif: "BBC Reith Sans", sans-serif;
}

h1 {
    font-family: "BBC Reith Serif", serif;
}

.img-cover {
    object-fit: cover;
}

.img-cover-n {
    object-position: top;
}

.img-cover-s {
    object-position: bottom;
}

.img-cover-w {
    object-position: left;
}

.img-cover-e {
    object-position: right;
}

.hero {
    background: linear-gradient(135deg, #dd9652 0%, #c82c68 35%, #9a3aa6 72%, #5965cd 100%);
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

* {
    border-radius: 0px !important;
}

@media (prefers-contrast: more) {
    .hero {
        background: black;
    }
}